.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/main.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;
    }
    &__subheader {
        margin-top: 17px;
        color: #ffffff;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 22px;
        a {
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: underline;
            margin: auto;
            padding: 1rem 1.25rem;
            font-size: 16px;
            text-decoration: none;
            color: white;
            position: relative;
            transition: all .3s cubic-bezier(.2, 0, 0, 1);
            z-index: 1;
            &:after {
                content: '';
                display: block;
                height: 2px;
                position: absolute;
                bottom: 0;
                right: 1.25rem;
                left: 1.25rem;
                background-color: #ffffff;
                transition: all .3s cubic-bezier(.2, 0, 0, 1);
                transform-origin: bottom center;
                z-index: -1;
            }
            &:hover {
                color: #2D2D2D;
                
                &:after {
                    right: 0;
                    left: 0;
                    height: 100%;
                }
            }
        }
    }
}